    body{
    background-color: aqua;
     background-image: url("About.jpg");
     background-repeat: no-repeat;
                background-size: cover;
    padding-left: 20%;
                padding-right: 20%; 
    }

    h1{
    text-align: center;
    }


    #Navigation {
    background-color: darkgrey;
    width: 505px;
    word-spacing: 15px;
    margin: 0 auto;
    padding: 5px 10px 10px 5px;
    text-align: center;
    color: black;
    }


    h1{
    font-family: "Algerian", Times, serif;
    color: cornflowerblue;
    text-align: center;
    }
